@mixin flex_style($justifyContent: space-between, $flexWrap: wrap, $flexDirection: row,  $alignItems: center, $gap: 0px) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
    gap: $gap;
}

@mixin font_style ($fontSize: 13px, $fontWeight: 400, $fontHeight: normal) {
    font-size: $fontSize;
    font-style: normal;
    font-weight: $fontWeight;
    line-height: $fontHeight;
}