$colorSiteDark:  #232435;
$colorTextElephantBone: rgb(255, 255, 255);
$colorSiteLightGrey: rgb(208, 208, 216);
$widthContent: 1172px;
$colorLightBlue: #7db9f5;
$colorBrightBlue: #2489ee;
$colorSiteDark2: rgb(76, 78, 116)5;

$colorBrighter_BrighterBlue: #3E9CDC;

$colorBackGround:  linear-gradient(#eaeaf0, #94c3f1);


// $colorLightBlue: #a1cbf5;
//$colorTextElephantBone: #FFFFF0;