@import 'vars';
@import 'mixins';

.footer {
    background: #3D4050;

    &__box {
        min-height: 80px;
        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;
        justify-content: center;
        gap: 30px;
    }


    
    &__text {
        color: #fff;
        @include font_style();


        &_uppercase {
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    &__line {
        width: 1px;
        height: 18px;
        background: rgba(195, 195, 195, 1);
    }

    &__box-small {
        @include flex_style($gap: 38px, $flexWrap: nowrap);
    }

    &__link {
        cursor: pointer;
        @include flex_style($gap: 10px, $flexWrap: nowrap);
        color: #C3C3C3;
    }

    &__icon,
    &__text {
        transition: 0.3s;
    }

    &__icon:hover path {
        fill: #fff;
    }

    &__text:hover {
        color: $colorSiteBlue;
    }

    &__contacts {
        @include flex_style($gap: 10px);
        cursor: pointer;
    }

}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .footer {

        &__box-small_pay {
            @include flex_style($flexWrap: nowrap);
            padding-left: 10px;
            padding-right: 10px;
        }

        &__box-small_contacts {
            @include flex_style($gap: 10px);
        }
    }
}

@media(max-width: 767px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .footer {

        &__line {
            display: none;
        }

        &__box {
            padding-top: 15px;
            padding-bottom: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;

        }

        &__box-small_pay {
            width: 95%;
            grid-column: 1/3;
            grid-row: 1/1;
            margin: 0 auto;
        }

        &__text {
            @include font_style($fontSize: 12x);
        }

        &__text_small {
            @include font_style($fontSize: 10px);

        }

        &__box-small_contacts {
            @include flex_style($gap: 5px);
        }
    }
}

